@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Black Creek<br />
    Chattanooga, TN 37419<br />
    <abbr title="Phone">P:</abbr>
    423.622.2255
</address>

<address>
    <strong>Support:</strong> <a href="mailto:mikemiller@epbfi.com">mikemiller@epbfi.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
